<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application.html}">

<head>
    <title>Анализатор страниц</title>
</head>
<section layout:fragment="header">
    <table class="table table-striped mt-5" >
        <thead>
        <tr>
            <th class="col-1">ID</th>
            <th class="col-3">Имя</th>
            <th>Описание</th>
            <th class="col-2">Дата создания</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="url : ${urls}" th:object="${url}">
            <td th:text="*{getId()}"></td>
            <td>
                <a th:href="@{/urls/{id}(id=*{getId()})}" th:text="${#strings.abbreviate(url.getName(), 30)}"></a>
            </td>
            <td></td>
            <td th:text="${#temporals.format(url.getCreatedAt(), 'dd/MM/yyyy HH:mm')}"></td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation" th:if="${#lists.size(pages)}">
        <ul class="pagination justify-content-center mt-5">
            <li th:class="'page-item' + ${currentPage <= 1 ? ' disabled' : ''}">
                <a class="page-link" th:href="@{/urls(page=${currentPage - 1},term=${term})}">Previous</a>
            </li>
            <li th:each="page : ${pages}" th:class="'page-item' + ${currentPage == page ? ' active' : ''}">
                <a class="page-link" th:href="@{/urls(page=${page},term=${term})}" th:text="${page}"></a>
            </li>
            <li th:class="'page-item' + ${currentPage >= #lists.size(pages) ? ' disabled' : ''}">
                <a class="page-link" th:href="@{/urls(page=${currentPage + 1},)}">Next</a>
            </li>
        </ul>
    </nav>
</section>
</html>